@import 'mixins';

/* colors */
$black: #000000;
$white: #ffffff;

$mainTxtDark: #242424;
$mainRed: #d90505;

$lightGrey: #f8f8f8;
$lightGreyNote: #6e6e6e;

$txtGrey: #5c5c5e;
$txtDarkGrey: #787878;
$textShadow: #333333;

$greyBg: #363636;
$greyBg85: rgba(54,54,54,0.85);
$lightGreyBg: #cfd1d3;
