@import 'mixins';

/* colors */
$black: #000000;
$white: #ffffff;

$mainTxtDark: #242424;
$mainRed: #d90505;

$lightGrey: #f8f8f8;
$lightGreyNote: #6e6e6e;

$txtGrey: #5c5c5e;
$hoverMidGrey: #525252;
$hoverDarkGrey: #363636;
$textShadow: #333333;

/* change bootstrap classes */
/*.text-primary {
  color: $mainTxtDark!important;
}
.text-secondary {
  color: $txtGrey!important;
}
.text-danger {
  color: $mainRed!important;
}*/
