.header {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	min-width: 300px;
}
/*.header--inner {
	& .user-control:not(:first-child) {
		display: none;
	}
}*/

.user-control-top {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.user-control,
.nav-bottom-wrapper .user-control {
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 1;
}
.user-control {
	&__i {
		display: block;
	}
	&__i img {
		font-size: 0;
	}
	& span:last-of-type {
		position: relative;
		display: inline-block;
	}
	& span:last-of-type::before {
		content: "";
		position: absolute;
		right: 0;
		left: 50%;
		width: 0;
		background-color: transparent;
		transition: all .3s;
	}
	&:hover span:last-of-type::before {
		left: 0;
		width: 100%;
		background-color: $mainRed;
	}
}

.nav-top-item {
	position: relative;
	display: block;
	line-height: 1;
	white-space: nowrap;
	transition: all 0.3s;

	&:not(.logo)::before {
		content: "";
		position: absolute;
		right: 0;
		left: 50%;
		width: 0;
		background-color: transparent;
		transition: all .3s;
	}
	&:hover::before {
		left: 0;
		width: 100%;
		background-color: $mainRed;
	}
}

.nav-bottom {
	display: flex;
	flex-wrap: wrap;

	&__item {
		position: relative;
	}
	&__link {
		position: relative;
		display: flex;
		align-items: center;
		transition: all 0.3s ease;
	}
	&__link:hover {
		color: $white;
		text-shadow: -2px 0px #333333;
	}
	&__drop {
		margin-bottom: 0;
		list-style: none;
	}
	&__drop-item {
		position: relative;
	}
	&__drop-item::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("/build/img/ellipse48x48.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}
	&__drop-item a {
		display: inline-block;
		line-height: 1.4;
		transition: all 0.3s ease;
	}
	&__drop-item:hover a {
		color: $mainRed;
	}
}

@media (max-width: 575.98px) {
	/*.header__user-control {
		max-width: 85px;
		min-width: 85px;
	}*/
	.user-control-top {
		& .user-control:last-of-type {
			margin-right: 15px;
		}
		& .user-control img {
			min-width: 20px;
			min-height: 20px;
			width: 20px;
			height: 20px;
		}
	}

	/*.nav-bottom-container {
		max-width: calc(50% - 85px);
		min-width: calc(50% - 85px);
	}*/

	.menu-btn {
		& span,
		& span::before,
		& span::after {
			width: 25px;
			height: 1px;
		}
		& span::before {
			top: -6px;
		}
		& span::after {
			bottom: -6px;
		}
	}

	.nav-bottom {
		width: calc(100vw - 46px);
		margin-left: calc(-50% + 17px);
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.header__container {
		position: relative;
	}
	/*.header__user-control {
		max-width: 105px;
		min-width: 105px;
	}*/
	.user-control-top {
		& .user-control img {
			min-width: 30px;
			min-height: 30px;
			width: 30px;
			height: 30px;
		}
	}

	/*.nav-bottom-container {
		max-width: calc(50% - 105px);
		min-width: calc(50% - 105px);
	}*/

	.menu-btn {
		& span,
		& span::before,
		& span::after {
			width: 35px;
			height: 2px;
		}
		& span::before {
			top: -10px;
		}
		& span::after {
			bottom: -10px;
		}
	}

	.nav-bottom {
		width: 540px;
		margin-left: -50%;
	}
}
@media (max-width: 767.98px) {
	.header {
		width: calc(100% - 0.5rem);
		margin-right: 0.25rem;
		margin-left: 0.25rem;
		box-shadow: 5px 5px 15px 0 rgba(52, 34, 34, 0.3);
		background-color: $white;
	}

	.user-control-top {
		& .user-control {
			margin-right: 15px;
		}
		& .user-control span:last-of-type {
			display: none;
		}
	}
	.user-control {
		&__i .img-desktop {
			display: none;
		}
	}

	.nav-bottom-container,
	.nav-bottom-wrapper {
		position: static;
	}
	/*.nav-bottom-container {
		padding-right: 5px;
	}
	.nav-bottom-wrapper {
		padding-right: 0;
	}*/

	.menu-btn {
		width: 62px;
		height: 100%;
		/*margin: 0 0 0 auto;*/
		margin: 0 auto;
		border-radius: 0.75rem;
		cursor: pointer;

		&,
		& span {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease;
		}
		& span {
			position: relative;
		}
		& span,
		& span::before,
		& span::after {
			background-color: $mainTxtDark;
		}
		& span::before,
		& span::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all 0.3s ease;
		}
		&.active {
			background-color: $greyBg85;
		}
		&.active span {
			background-color: transparent;
		}
		&.active span::before,
		&.active span::after {
			background-color: $white;
		}
		&.active span::before {
			top: 0px;
			transform: rotate(45deg);
		}
		&.active span::after {
			bottom: 0px;
			transform: rotate(-45deg);
		}
	}

	.menu-btn:not(.active) + .nav-bottom {
		display: none;
	}
	.menu-btn.active + .nav-bottom {
		display: flex;
	}

	.nav-bottom {
		z-index: 1000;
		position: absolute;
		top: 100%;
		left: 50%;
		flex-direction: column;
		min-width: 274px;
		padding: 30px 24px 20px;
		border-radius: 2rem;
		background-color: $greyBg85;

		&__item {
			flex-direction: column;
			width: 100%;
		}
		&__item:not(:last-of-type) {
			margin-bottom: 1rem;
		}
		&__link span:last-of-type {
			position: relative;
			padding-right: 1.5rem;
			transition: all 0.3s ease;
		}
		&__item--contains &__link span:last-of-type::before,
		&__item--contains &__link span:last-of-type::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 9px;
			height: 1px;
			background-color: $white;
			transition: all 0.3s ease;
		}
		&__item--contains &__link span:last-of-type::before {
			right: 0px;
			transform: rotate(-45deg);
		}
		&__item--contains &__link span:last-of-type::after {
			right: 6px;
			transform: rotate(45deg);
		}
		&__item--contains.active &__link span:last-of-type::before {
			right: 0px;
			transform: rotate(45deg);
		}
		&__item--contains.active &__link span:last-of-type::after {
			right: 6px;
			transform: rotate(-45deg);
		}
		&__item .user-control__i {
			min-width: 18px;
			min-height: 18px;
			width: 18px;
			height: 18px;
			margin-right: 0.5rem;
		}
		&__drop {
			max-height: 0;
			padding: 0;
			overflow: hidden;
		}
		&__item.active &__drop {
			max-height: 99999px;
			padding-top: 12px;
			padding-left: 10px;
		}
		&__drop-item {
			padding-left: 35px;
			line-height: 30px;
		}
		&__drop-item::before {
			width: 30px;
			height: 30px;
		}
	}
	.nav-bottom a {
		color: $white;
	}
}
@media (min-width: 768px) {
	.header {
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			height: 1px;
			background-color: $white;
		}
	}
	.header--inner {
		width: calc(100% - 0.5rem);
		margin-right: 0.25rem;
		margin-left: 0.25rem;
		box-shadow: 5px 5px 15px 0 rgba(52, 34, 34, 0.3);
		background-color: $white;

		&::before {
			content: none;
		}
	}
	.header--inner {
		& .nav-bottom-container {
			display: none;
		}
		/*& .user-control {
			margin-right: 0 !important;
		}*/
	}
	/*.header--inner-extended {
		& .nav-bottom-container {
			padding-top: 0!important;
		}
	}*/

	.user-control {
		&__i .img-mobile {
			display: none;
		}
		&__i {
			margin-right: 0.5rem;
		}
		& span:last-of-type::before {
			height: 2px;
		}
	}

	.nav-top-item {
		&::before {
			height: 2px;
		}
		&.logo img {
			max-height: 24px;
		}
	}

	.menu-btn {
		display: none;
	}

	.nav-bottom {
		align-items: center;

		&__link {
			padding: 15px;
			border-radius: 15px;
		}
		&__link:hover {
			background-color: $greyBg;
		}
		&__item--contains &__link::before,
		&__item--contains &__link::after {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			background-color: $mainTxtDark;
		}
		&__item--contains &__link::before {
			right: 0;
			transform: rotate(-45deg);
		}
		&__item--contains &__link::after {
			transform: rotate(45deg);
		}
		&__item--contains &__link:hover::before,
		&__item--contains &__link:hover::after {
			background-color: transparent;
		}
		&__drop {
			z-index: 100;
			position: absolute;
			top: 100%;
			left: 0;
			display: none;
			/*border-radius: 2rem;*/
			box-shadow: 10px 15px 15px 0 rgba(52, 34, 34, 0.15);
			background-color: $white;
			color: $mainTxtDark;
		}
		&__item:hover &__drop {
			display: block;
		}
		&__drop-item {
			display: flex;
			align-items: center;
		}
		&__drop-item:not(:last-of-type) {
			margin-bottom: 0.5rem;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.header--inner {
		.nav-top {
			padding-right: 0;
			padding-left: 0;
		}
		& .nav-top-item {
			margin-right: 0.5rem;
			margin-left: 0.5rem;
			letter-spacing: -0.2px;
		}
		&.nav-top-item:last-of-type {
			margin-right: 0;
		}
	}

	.user-control {
		&__i,
		&__i img {
			min-width: 20px;
			min-height: 20px;
			width: 20px;
			height: 20px;
		}
	}

	.nav-bottom {
		&__link {
			/*max-width: 150px;
			padding: 1.25rem;*/
		}
		/*&__link span:first-of-type {
			display: block;
			margin-bottom: 0.25rem;
		}*/
		&__drop {
			width: 17.5rem;
			/*padding: 1rem 1.125rem;*/
		}
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.user-control {
		& span:last-of-type::before {
			bottom: -7px;
		}
	}

	.nav-top-item {
		margin-left: 0.75rem;
		padding-left: 0.25rem;
		padding-right: 0.25rem;

		&::before {
			bottom: -7px;
		}
		&:not(:last-of-type) {
			margin-right: 0.75rem;
		}
		& img {
			max-height: 24px;
		}
	}

	.nav-bottom {
		/*&__item--contains &__link::before,
		&__item--contains &__link::after {
			width: 8px;
		}
		&__item--contains &__link::after {
			right: 6px;
		}*/
		&__drop-item {
			padding-left: 30px;
		}
		&__drop-item::before {
			width: 22px;
			height: 22px;
		}
	}
}
@media (min-width: 768px) and (max-width: 1439.98px) {
	.header {
		&::before {
			top: 95px;
		}
	}

	.user-control {
		&:last-of-type {
			margin-left: 2rem;
		}
	}

	.nav-bottom {
		margin-right: -15px;
		margin-left: -15px;

		&__item:not(:last-of-type) {
			margin-right: 10px;
		}
		&__item--contains &__link::before,
		&__item--contains &__link::after {
			width: 8px;
		}
		&__item--contains &__link::after {
			right: 5px;
		}
		&__drop {
			padding: 20px;
			border-radius: 24px;
		}
	}
}
@media (min-width: 992px) {
	.user-control {
		&__i,
		&__i img {
			min-width: 24px;
			min-height: 24px;
			width: 24px;
			height: 24px;
		}
	}

	.nav-bottom {
		&__drop {
			width: 22.5rem;
			/*padding: 1.25rem 1.5rem;*/
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.nav-bottom {
		&__link {
			/*padding: 1.5rem 1.125rem;
			font-size: 18px;*/
		}
		&__drop {
			width: 18rem;
			/*padding: 1.25rem 1.5rem 1.25rem 1rem;*/
		}
	}
}
@media (min-width: 1200px) {
	.user-control {
		& span:last-of-type::before {
			bottom: -10px;
		}
	}

	.nav-top-item {
		margin-left: 1rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		&::before {
			bottom: -10px;
		}
		&:not(:last-of-type) {
			margin-right: 1rem;
		}
	}

	.nav-bottom {
		&__item:not(:last-of-type) {
			margin-right: 15px;
		}
		/*&__link {
			padding: 20px;
		}
		&__item--contains &__link::before,
		&__item--contains &__link::after {
			width: 10px;
		}
		&__item--contains &__link::before {
			right: 0;
		}
		&__item--contains &__link::after {
			right: 7px;
		}*/
		&__drop {
			width: 360px;
			/*padding: 20px;*/
		}
		&__drop-item {
			padding-left: 30px;
		}
		&__drop-item::before {
			width: 24px;
			height: 24px;
		}
	}
}
@media (min-width: 1440px) {
	.header {
		&::before {
			top: 76px;
		}
	}

	.nav-bottom {
		margin-right: -20px;
		margin-left: -20px;

		&.nav-bottom--usercontrol {
			justify-content: flex-end;
		}
		&__item:not(:last-of-type) {
			margin-right: 15px;
		}
		&__link {
			padding: 20px;
			border-radius: 20px;
		}
		&__item--contains &__link::before,
		&__item--contains &__link::after {
			width: 10px;
		}
		&__item--contains &__link::before {
			right: 0;
		}
		&__item--contains &__link::after {
			right: 7px;
		}
		&__drop {
			padding: 24px 30px;
			border-radius: 30px;
		}
	}
}