.header {
	position: absolute;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	min-width: 300px;
}

.user-control-top {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.user-control {
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 1;

	&__i {
		display: block;
	}
}

.nav-top-item {
	position: relative;
	display: block;
	line-height: 1;
	transition: all 0.3s ease;

	&::before {
		content: "";
		position: absolute;
		right: 0;
		left: 0;
		background-color: transparent;
	}
	&:hover::before {
		background-color: $mainRed;
	}
}

.nav-bottom {
	display: flex;
	flex-wrap: wrap;

	&__item {
		position: relative;
		display: flex;
		line-height: 1;
		transition: all 0.3s ease;
	}
	&__link {
		display: block;
	}
	&__item:hover &__link {
		color: $white;
		text-shadow: -2px 0px #333333;
	}
	&__drop {
		margin-bottom: 0;
		list-style: none;
	}
	&__drop-item {
		position: relative;
	}
	&__drop-item::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("/build/img/ellipse.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}
	&__drop-item:hover a {
		color: $mainRed;
		transition: all 0.3s ease;
	}
}

@media (max-width: 575.98px) {
	.user-control-top {
		& .user-control:last-of-type {
			margin-right: 1rem;
		}
		& .user-control img {
			min-width: 20px;
			min-height: 20px;
			width: 20px;
			height: 20px;
		}
	}

	.nav-bottom-container,
	.nav-bottom-wrapper {
		position: static;
	}

	.menu-btn {
		width: 70px;

		& span,
		& span::before,
		& span::after {
			width: 25px;
			height: 1px;
		}
		& span::before {
			top: -6px;
		}
		& span::after {
			bottom: -6px;
		}
	}

	.nav-bottom {
		min-width: 274px;
		width: calc(100vw - 46px);
		left: 50%;
		margin-left: calc(-50% + 15px);
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.user-control-top {
		& .user-control:last-of-type {
			margin-right: 1rem;
		}
		& .user-control img {
			min-width: 30px;
			min-height: 30px;
			width: 30px;
			height: 30px;
		}
	}

	.menu-btn {
		width: 50%;

		& span,
		& span::before,
		& span::after {
			width: 35px;
			height: 2px;
		}
		& span::before {
			top: -10px;
		}
		& span::after {
			bottom: -10px;
		}
	}

	.nav-bottom {
		width: 510px;
	}
}
@media (max-width: 767.98px) {
	.header {
		width: calc(100% - 0.5rem);
		margin-right: 0.25rem;
		margin-left: 0.25rem;
		box-shadow: 5px 5px 15px 0 rgba(52, 34, 34, 0.3);
		background-color: $white;
	}

	.user-control-top .user-control span:last-of-type {
		display: none;
	}

	.menu-btn {
		height: 100%;
		margin: 0 auto;
		border-radius: 0.75rem;
		cursor: pointer;

		&,
		& span {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease;
		}
		& span {
			position: relative;
		}
		& span,
		& span::before,
		& span::after {
			background-color: $mainTxtDark;
		}
		& span::before,
		& span::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all 0.3s ease;
		}
		&.active {
			background-color: $greyBg85;
		}
		&.active span {
			background-color: transparent;
		}
		&.active span::before,
		&.active span::after {
			background-color: $white;
		}
		&.active span::before {
			top: 0px;
			transform: rotate(45deg);
		}
		&.active span::after {
			bottom: 0px;
			transform: rotate(-45deg);
		}
	}

	.menu-btn:not(.active) + .nav-bottom {
		display: none;
	}
	.menu-btn.active + .nav-bottom {
		display: flex;
	}

	.nav-bottom {
		z-index: 1000;
		position: absolute;
		top: 100%;
		left: 0;
		flex-direction: column;
		margin-left: calc(-50% + 15px);
		padding: 2rem 1.75rem 1.5rem;
		border-radius: 2rem;
		background-color: $greyBg85;

		&__item {
			flex-direction: column;
			width: max-content;
		}
		&__item:not(:last-of-type) {
			margin-bottom: 1rem;
		}
		&__link span:last-of-type {
			position: relative;
			padding-right: 1.5rem;
			transition: all 0.3s ease;
		}
		&__item--contains &__link span:last-of-type::before,
		&__item--contains &__link span:last-of-type::after {
			content: "";
			position: absolute;
			top: 50%;
			width: 9px;
			height: 1px;
			background-color: $white;
			transition: all 0.3s ease;
		}
		&__item--contains &__link span:last-of-type::before {
			right: 0px;
			transform: rotate(-45deg);
		}
		&__item--contains &__link span:last-of-type::after {
			right: 6px;
			transform: rotate(45deg);
		}
		&__item--contains.active &__link span:last-of-type::before {
			right: 0px;
			transform: rotate(45deg);
		}
		&__item--contains.active &__link span:last-of-type::after {
			right: 6px;
			transform: rotate(-45deg);
		}
		&__item .user-control__i {
			min-width: 18px;
			min-height: 18px;
			width: 18px;
			height: 18px;
			margin-right: 0.5rem;
		}
		&__drop {
			max-height: 0;
			padding: 0;
			overflow: hidden;
		}
		&__item.active &__drop {
			max-height: 99999px;
			padding-top: 0.75rem;
			padding-left: 1rem;
		}
		&__drop-item {
			padding-left: 35px;
			line-height: 30px;
		}
		&__drop-item::before {
			width: 30px;
			height: 30px;
		}
	}
	.nav-bottom a {
		color: $white;
	}
}
@media (min-width: 768px) {
	.header {
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			left: 0;
			height: 1px;
			background-color: $white;
		}
	}
	.header--inner {
		width: calc(100% - 0.5rem);
		margin-right: 0.25rem;
		margin-left: 0.25rem;
		box-shadow: 5px 5px 15px 0 rgba(52, 34, 34, 0.3);
		background-color: $white;

		&::before {
			content: none;
		}
		.nav-bottom-container {
			display: none;
		}
	}

	.user-control {
		&__i {
			margin-right: 0.5rem;
		}
	}

	.nav-top-item {
		&::before {
			height: 2px;
		}
	}

	.menu-btn {
		display: none;
	}

	.nav-bottom {
		align-items: center;
		margin-right: -1.5rem;
		margin-left: -1.5rem;

		&__item {
			border-radius: 1.5rem;
		}
		&__item:hover {
			background-color: $greyBg;
		}
		&__item--contains::before,
		&__item--contains::after {
			content: "";
			position: absolute;
			top: 50%;
			height: 1px;
			background-color: $mainTxtDark;
		}
		&__item--contains::before {
			right: 0px;
			transform: rotate(-45deg);
		}
		&__item--contains::after {
			transform: rotate(45deg);
		}
		&__item--contains:hover::before,
		&__item--contains:hover::after {
			background-color: transparent;
		}
		&__drop {
			z-index: 100;
			position: absolute;
			top: 100%;
			left: 0;
			display: none;
			border-radius: 2rem;
			box-shadow: 10px 15px 15px 0 rgba(52, 34, 34, 0.15);
			background-color: $white;
			color: $mainTxtDark;
		}
		&__item:hover &__drop {
			display: block;
		}
		&__drop-item:not(:last-of-type) {
			margin-bottom: 0.5rem;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.header--inner {
		.nav-top {
			padding-right: 0;
			padding-left: 0;
		}
		& .nav-top-item {
			margin-right: 0.5rem;
			margin-left: 0.5rem;
			letter-spacing: -0.2px;
		}
		&.nav-top-item:last-of-type {
			margin-right: 0;
		}
	}

	.user-control {
		&__i,
		&__i img {
			min-width: 20px;
			min-height: 20px;
			width: 20px;
			height: 20px;
		}
	}

	.nav-bottom {
		&__item {
			align-items: center;
			min-height: 5rem;
		}
		&__link {
			padding: 1.25rem;
		}
		&__link span:first-of-type {
			display: block;
			margin-bottom: 0.25rem;
		}
		&__drop {
			width: 17.5rem;
			padding: 1rem 1.125rem;
		}
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.header {
		padding-top: 1rem;

		&::before {
			top: calc(60px + 2rem);
		}
	}

	.user-control {
		&:last-of-type {
			margin-left: 2rem;
		}
	}

	.nav-top-item {
		margin-left: 0.75rem;
		padding-left: 0.25rem;
		padding-right: 0.25rem;

		&::before {
			bottom: -7px;
		}
		&:not(:last-of-type) {
			margin-right: 0.75rem;
		}
	}

	.nav-bottom {
		&__item:not(:last-of-type) {
			margin-right: 0.75rem;
		}
		&__item--contains::before,
		&__item--contains::after {
			width: 8px;
		}
		&__item--contains::after {
			right: 6px;
		}
		&__drop-item {
			padding-left: 35px;
			line-height: 30px;
		}
		&__drop-item::before {
			width: 30px;
			height: 30px;
		}
	}
}
@media (min-width: 992px) {
	.user-control {
		&__i,
		&__i img {
			min-width: 24px;
			min-height: 24px;
			width: 24px;
			height: 24px;
		}
	}

	.nav-bottom {
		&__drop {
			width: 22.5rem;
			padding: 1.25rem 1.5rem;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.nav-bottom {
		&__link {
			padding: 1.5rem 1.125rem;
			font-size: 1.125rem;
		}
	}
}
@media (min-width: 1200px) {
	.header {
		padding-top: 1.5rem;

		&::before {
			top: calc(55px + 2.5rem);
		}
	}

	.nav-top-item {
		margin-left: 1rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		&::before {
			bottom: -10px;
		}
		&:not(:last-of-type) {
			margin-right: 1rem;
		}
	}

	.nav-bottom {
		&__item--contains::before,
		&__item--contains::after {
			width: 10px;
		}
		&__item--contains::before {
			right: 0px;
		}
		&__item--contains::after {
			right: 7px;
		}
		&__link {
			padding: 1.5rem;
		}
		&__drop {
			width: 26.75rem;
			padding: 1.5rem 2rem;
		}
		&__drop-item {
			padding-left: 40px;
			line-height: 36px;
		}
		&__drop-item::before {
			width: 36px;
			height: 36px;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1439.98px) {
	.nav-bottom {
		&__item:not(:last-of-type) {
			margin-right: 0.25rem;
		}
		&__link {
			font-size: 1rem;
		}
	}
}
@media (min-width: 1440px) {
	.nav-bottom {
		&__link {
			font-size: 1.25rem;
		}
	}
}
@media (min-width: 1600px) {
	.nav-bottom {
		&__item:not(:last-of-type) {
			margin-right: 3rem;
		}
	}
}