.main {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	margin: 0 auto;
	transition: padding-top 0.3s linear 0s;
}

.intro {
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	&__title {
		font-weight: 500;
		transition: all 0.3s ease;
	}
	&__subtitle {
		line-height: 1.2;
	}
	&__service {
		display: block;
		background-color: $white;
		color: $mainTxtDark;
		transition: all 0.3s ease;
	}
	&__service-view,
	&__service-title {
		display: block;
		text-align: center;
	}
	&__service-view {
		margin: 0 auto;
	}
	&__service-title {
		line-height: 1.2;
	}
	&__service-view svg {
		min-width: 100%;
		width: 100%;
		height: 100%;
	}
	&__service-link {
		position: relative;
		display: inline-block;
	}
	&__service-link::before {
		content: "";
		position: absolute;
		background-color: $mainRed;
	}
	&__btn {
		display: inline-block;
	}
}
.intro--main {
	& .intro__title,
	& .intro__subtitle {
		text-transform: uppercase;
	}
}
.intro--inner {
	& .intro__title {
		display: flex;
		align-items: flex-end;
	}
}

.benefit {
	position: relative;

	&::before,
	&::after {
		content: "";
		position: absolute;
	}
	&::after {
		background-image: url("/build/img/ellipse-design.png");
		background-repeat: no-repeat;
		background-position: center;
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		line-height: 1.2;
	}
}

.framed-wrapper {
	padding-top: 2rem;
}
.framed {
	position: relative;

	&::before,
	&::after {
		content: "";
		z-index: -1;
		position: absolute;
		border-style: solid;
		border-color: $mainRed;
	}
	&__col {
		margin-bottom: 1.5rem;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $white;
		line-height: 1.2;
		text-align: center;
	}
}
.framed--main {
	& .framed__col:nth-child(even) .framed__item {
		background-color: $lightGreyBg;
	}
}

.swiper-scroll-x {
	& .swiper-scrollbar {
		position: relative;
		box-shadow: 5px 5px 15px 0 rgba(22, 20, 20, 0.15);
		background-color: $white;
		touch-action: none;
	}
	&.swiper-container-horizontal>.swiper-scrollbar {
		z-index: 50;
		position: absolute;
		left: 50%;
		width: 40%;
		transform: translateX(-50%);
	}
	& .swiper-scrollbar-drag {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainRed;
	}
	& .swiper-scrollbar-drag::before {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $mainRed;
	}
	& .swiper-notification {
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		opacity: 0;
		z-index: -1000;
	}
}

.partners {
	& .swiper-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
	}
	& .swiper-slide  {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $white;
		text-align: center;
	}
	& .swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.ask {
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 3rem;
		box-shadow: 5px 5px 25px 0 rgba(37, 37, 37, 0.3);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&__wrapper::before {
		content: "";
		z-index: 0;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		border-radius: 3rem;
		background-color: rgba(255,255,255,0.88);
	}
	&__design {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	&__design.right,
	&__design.left {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
	}
	&__design::before,
	&__design::after {
		content: "";
		position: absolute;
		width: 150px;
		height: 150px;
		background-image: url("/build/img/ellipse-design.png");
		background-repeat: no-repeat;
		background-position: center;
	}

	.ask-form {
		&__item input {
			width: 100%;
			border: 1px solid $lightGreyBg;
			background-color: $lightGreyBg;
			line-height: 1;
		}
		&__item input,
		&__item input:focus {
			background-color: $lightGreyBg;
		}
		&__item input,
		&__item input:focus,
		&__item input::placeholder {
			color: $txtGrey;
		}
		&__item input:-webkit-autofill,
		&__item input:-webkit-autofill::first-line,
		&__item input:-webkit-autofill:hover,
		&__item input:-webkit-autofill:focus,
		&__item input:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 35px $lightGreyBg inset !important;
			color: $txtGrey;
		}
		&__item input:focus {
			outline: none;
		}
	}
}

.awards {
	&__group {
		display: flex;
		flex-wrap: wrap;
	}
	&__group-item {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__group-item img {
		height: 100%;
		object-fit: contain;
	}
}

.vendors {
	& .swiper-container {
		display: flex;
		width: 100%;
	}
	& .swiper-slide,
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		background: $white;
		text-align: center;
	}
	&__item:hover  {
		box-shadow: 5px 5px 20px 0 rgba(37, 37, 37, 0.2);
		background-color: $white;
	}
	& .swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.request {
	position: relative;
	margin: 0 auto;
	border-radius: 2rem;
	box-shadow: 5px 5px 15px 5px rgba(37, 37, 37, 0.4);
	opacity: 0.9;
	background-color: $lightGrey;
	text-align: center;

	&__design {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
	}
	&__design.right,
	&__design.left {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
	}
	&__design::before,
	&__design::after {
		content: "";
		position: absolute;
		width: 50px;
		height: 50px;
		background-image: url("/build/img/ellipse-design.png");
		background-repeat: no-repeat;
		background-position: center;
	}
	&__title,
	&__subtitle {
		font-weight: 500;
	}
	&__title {
		color: $mainRed;
	}
	&__subtitle {
		color: $mainTxtDark;
	}
	&__form-note label {
		position: relative;
		display: flex;;
		margin-bottom: 0;
		color: $black;
		cursor: pointer;
	}
	&__form-note input {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		opacity: 0;
	}
	&__form-note-marker {
		position: relative;
		display: inline-block;
		min-width: 18px;
		width: 18px;
		height: 18px;
		margin-right: 12px;
		border: 1px solid transparent;
		border-radius: 4px;
		box-shadow: 2px 2px 15px 5px rgba(37, 37, 37, 0.2);
		background-color: $white;
	}
	&__form-note input:checked + &__form-note-marker {
		background-color: $textShadow;
	}
	&__form-note input:hover:checked + &__form-note-marker {
		background-color: $black;
	}
	&__form-note input:checked + &__form-note-marker::before,
	&__form-note input:checked + &__form-note-marker::after {
		content: "";
		position: absolute;
		display: block;
		border-radius: 2px;
		background-color: $white;
	}
	&__form-note input:checked + &__form-note-marker::before {
		top: 7px;
		left: 6px;
		width: 7px;
		height: 2px;
		transform: rotate(-45deg);
	}
	&__form-note input:checked + &__form-note-marker::after {
		top: 6px;
		left: 5px;
		width: 2px;
		height: 5px;
		transform: rotate(-45deg);
	}
	&__form-note label.disabled &__form-note-marker {
		border-color: $textShadow;
		background-color: $lightGrey;
	}
	&__form-note label.disabled &__form-note input:checked + &__form-note-marker {
		background-color: $textShadow;
	}
	&__form-note label span:not(.footer__form-note-marker) {
		color: $txtGrey;
	}
	&__form-note label span:last-of-type {
		display: flex;
		align-items: center;
	}
	&__form-item input {
		border: 1px solid $greyBg;
	}
	&__form-item input,
	&__form-item input:focus {
		background-color: $greyBg;
	}
	&__form-item input,
	&__form-item input:focus,
	&__form-item input::placeholder,
	&__form-item input:-webkit-autofill,
	&__form-item input:-webkit-autofill::first-line,
	&__form-item input:-webkit-autofill:hover,
	&__form-item input:-webkit-autofill:focus,
	&__form-item input:-webkit-autofill:active {
		color: $white;
	}
	&__form-item input:focus {
		outline: none;
	}
}

.pre-footer {
	position: relative;
	z-index: 2;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&--main {
		padding-top: 5rem;
		background-image: url('/build/img/mimi-thian-ZKBzlifgkgw-unsplash.jpg');
	}
	&--inner {
		background-image: url('/build/img/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg');
	}
	&--inner .request__form-box{
		display: none;
	}
}

.trademark {
	.trademark__desc {
		display: flex;
	}
}

.registration {
	z-index: 10;
	position: relative;
	width: 100%;
	box-shadow: 5px 5px 25px 0 rgba(52, 34, 34, 0.3);

	&::before,
	&::after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	&::before {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-image: url("/build/img/bank-phrom-Tzm3Oyu_6sk-unsplash.jpg");
	}
	&::after {
		background-color: rgba(255,255,255,0.9);
	}
	&__item {
		position: relative;
	}
	&__item label.error {
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		margin: 0;
		padding-right: 5px;
		padding-left: 0!important;
		color: $mainRed;
		text-align: right;
	}
	&__item:first-of-type .btn:nth-child(odd) {
		border-color: $white;
		background-color: $white;
		color: $mainTxtDark;
	}
	&__item:first-of-type .btn:nth-child(even) {
		margin-left: -5px;
	}
	&__item .btn,
	&__item input,
	&__item input:focus {
		border-radius: 0.5rem;
	}
	&__item input {
		width: 100%;
		border: 1px solid $white;
		box-shadow: 5px 5px 25px 0 rgba(37, 37, 37, 0.3);
		line-height: 1;
	}
	&__item input,
	&__item input:focus {
		background-color: $white;
	}
	&__item input,
	&__item input:focus,
	&__item input::placeholder,
	&__item input:-webkit-autofill,
	&__item input:-webkit-autofill::first-line,
	&__item input:-webkit-autofill:hover,
	&__item input:-webkit-autofill:focus,
	&__item input:-webkit-autofill:active {
		color: $mainTxtDark;
	}
	&__item input.error:focus {
		outline-color: $mainRed;
	}
	&__checkbox label {
		position: relative;
		display: flex;
		width: 100%;
		margin-bottom: 0;
		color: $black;
		cursor: pointer;
	}
	&__checkbox input {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		opacity: 0;
	}
	&__checkbox-mark {
		position: relative;
		display: inline-block;
		min-width: 18px;
		width: 18px;
		height: 18px;
		margin-right: 12px;
		border: 1px solid transparent;
		border-radius: 4px;
		box-shadow: 2px 2px 15px 5px rgba(37, 37, 37, 0.1);
		background-color: $white;
	}
	&__checkbox input:checked + &__checkbox-mark {
		background-color: $textShadow;
	}
	&__checkbox input:hover:checked + &__checkbox-mark {
		background-color: $black;
	}
	&__checkbox input:checked + &__checkbox-mark::before,
	&__checkbox input:checked + &__checkbox-mark::after {
		content: "";
		position: absolute;
		display: block;
		border-radius: 2px;
		background-color: $white;
	}
	&__checkbox input:checked + &__checkbox-mark::before {
		top: 7px;
		left: 6px;
		width: 7px;
		height: 2px;
		transform: rotate(-45deg);
	}
	&__checkbox input:checked + &__checkbox-mark::after {
		top: 6px;
		left: 5px;
		width: 2px;
		height: 5px;
		transform: rotate(-45deg);
	}
	&__checkbox label.disabled &__checkbox-mark {
		border-color: $textShadow;
		background-color: $lightGrey;
	}
	&__checkbox label.disabled &__checkbox input:checked + &__checkbox-mark {
		background-color: $textShadow;
	}
	&__checkbox label span:not(.registration__checkbox-mark) {
		color: $txtGrey;
	}
	&__checkbox label span:last-of-type {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 575.98px) {
	.intro {
		&__service {
			padding: 1.5rem;
			font-size: 0.875rem;
		}
	}
	.intro--main {
		& .intro__wrapper {
			background-size: 100% 305px;
		}
		& .intro__content {
			padding-top: 5rem;
		}
		& .intro__title,
		& .intro__subtitle {
			padding-right: 20%;
		}
	}
	.intro--inner {
		min-height: 238px;
		height: 238px;

		& .intro__wrapper {
			height: calc(100% - 1.5rem);
			background-size: cover;
		}
		& .intro__content {
			padding-top: 6.5rem;
		}
		& .intro__title {
			min-height: 3rem;
			margin-bottom: 2rem;
		}
	}
	.intro--inner-empty {
		& .intro__wrapper {
			height: 100%;
		}
	}
	.intro--has-btn-multiple {
		min-height: 370px;
		height: 370px;

		& .intro__wrapper {
			height: calc(100% - 9rem);
		}
	}

	.benefit {
		&::after {
			background-size: 250%;
		}
	}

	.framed {
		&::before,
		&::after {
			border-width: 1px;
		}
		&__item {
			min-height: 96px;
			padding: 1.5rem 2rem;
			font-size: 0.875rem;
		}
	}

	.partners {
		& .swiper-container  {
			height: 380px;
		}
		& .swiper-slide  {
			height: calc((100% - 5rem) / 3);
		}
	}

	.registration {
		&__item label,
		&__item .btn {
			font-size: 1rem;
		}
		&__item label,
		&__checkbox label {
			padding-left: 0.25rem;
		}
		&__item label.error {
			bottom: -1.25rem;
			font-size: 0.75rem;
		}
		&__item input {
			padding: 1.25rem;
			font-size: 0.875rem;
		}
		&__item:first-of-type .btn {
			width: 100%;
		}
		&__item:first-of-type .btn:not(:last-of-type) {
			margin-bottom: 1rem;
		}
		&__item:first-of-type .btn:nth-child(even) {
			margin-left: 0;
		}
		&__checkbox-mark {
			margin-right: 8px;
		}
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.intro {
		&__service {
			padding: 2rem;
			font-size: 1rem;
		}
	}
	.intro--main {
		& .intro__content {
			padding-top: 9rem;
		}
		& .intro__wrapper {
			background-size: 100% 500px;
		}
	}
	.intro--inner {
		min-height: 285px;
		height: 285px;

		& .intro__wrapper {
			height: calc(100% - 1.75rem);
			background-size: cover;
		}
		& .intro__content {
			padding-top: 7.5rem;
		}
		& .intro__title {
			min-height: 4.75rem;
		}
	}
	.intro--inner-empty {
		& .intro__wrapper {
			height: 100%;
		}
	}
	.intro--has-btn-multiple {
		min-height: 425px;
		height: 425px;

		& .intro__wrapper {
			height: calc(100% - 10.25rem);
		}
	}

	.benefit {
		&::after {
			background-size: 300%;
		}
		&__item {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}

	.framed {
		&::before {
			border-width: 2px;
		}
		&__item {
			min-height: 102px;
			padding: 1.5rem 4rem;
			font-size: 1rem;
		}
	}

	.partners {
		& .swiper-container  {
			height: 460px;
		}
		& .swiper-slide  {
			height: calc((100% - 5.125rem) / 3);
		}
	}

	.registration {
		&__item label,
		&__item .btn {
			font-size: 1.125rem;
		}
		&__item label,
		&__checkbox label {
			padding-left: 0.5rem;
		}
		&__item label.error {
			bottom: -1.375rem;
			font-size: 0.875rem;
		}
		&__item input {
			padding: 1.125rem;
			font-size: 1rem;
		}
		&__form-item input:-webkit-autofill,
		&__form-item input:-webkit-autofill::first-line,
		&__form-item input:-webkit-autofill:hover,
		&__form-item input:-webkit-autofill:focus,
		&__form-item input:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 35px $white inset !important;
			font-size: 1rem;
		}
		&__item:first-of-type .btn {
			width: calc((100% - 1rem) / 2);
		}
		&__item:first-of-type .btn:not(:last-of-type) {
			margin-right: 1rem;
		}
	}
}
@media (max-width: 767.98px) {
	.intro {
		&__subtitle {
			margin-bottom: 1rem;
		}
		&__service {
			margin-right: 1rem;
			margin-left: 1rem;
			border-radius: 1.25rem;
			box-shadow: 2px 2px 10px 0 rgba(52, 34, 34, 0.25);
		}
		&__service:focus,
		&__servise:active {
			background-color: $mainRed;
		}
		&__service:focus &__service-title,
		&__servise:active &__service-title {
			color: $white;
		}
		&__service:not(:last-of-type) {
			margin-bottom: 0.5rem;
		}
		&__service-view {
			display: none;
		}
		&__btn {
			width: 100%;
			padding-right: 1rem;
			padding-left: 1rem;
		}
		&__btn--short:not(:last-of-type) {
			margin-bottom: 0.75rem;
		}
	}
	.intro--main {
		& .intro__wrapper {
			background-position: top center;
		}
	}
	.intro--inner {
		& .intro__title {
			margin-bottom: 30px;
		}
	}

	.benefit {
		&:not(:last-of-type)::before {
			right: calc(15px + 1rem);
			bottom: 0;
			left: calc(15px + 1rem);
			height: 1px;
			background-color: $mainRed;
		}
		&::after {
			width: 18px;
			height: 18px;
		}
		&:nth-child(odd)::after {
			right: calc(8px + 1rem);
		}
		&:nth-child(even)::after {
			left: calc(8px + 1rem);
		}
		&:last-of-type::after {
			content: none;
		}
		&::after {
			bottom: -8px;
		}
		&__item {
			min-height: 91px;
		}
	}

	.framed {
		&::before {
			top: 0;
			right: calc(15px + 1rem);
			left: calc(15px + 1rem);
			bottom: 0;
			border-radius: 3.5rem;
		}
		&::after {
			content: none;
		}
		&__item {
			margin-right: -10px;
			margin-left: -10px;
			border-radius: 1.25rem;
			box-shadow: 2px 4px 15px 0 rgba(37, 37, 37, 0.2);
		}
	}

	.swiper-scroll-x {
		& .swiper-scrollbar,
		& .swiper-scrollbar-drag{
			border-radius: 5px;
		}
		&.swiper-container-horizontal>.swiper-scrollbar {
			bottom: 9px;
			height: 9px;
		}
	}

	.ask {
		& h2 {
			font-size: 1.5rem;
		}
		&__design.right::before {
			top: 30px;
			right: -15px;
			background-size: 45px;
		}
		&__design.right::after {
			top: -15px;
			right: -30px;
			background-size: 80px;
		}
		&__design.left::before {
			bottom: -45px;
			left: 45px;
			background-size: 45px;
		}
		&__design.left::after {
			top: 80px;
			left: -55px;
			background-size: 70px;
		}
	}

	.ask-form {
		&__item {
			width: 100%;
		}
		&__item:not(:last-of-type) {
			margin-bottom: 1.25rem;
		}
		&__item input {
			padding: 1.25rem;
			border-radius: 1rem;
			font-size: 0.875rem;
		}
		&__item input:-webkit-autofill,
		&__item input:-webkit-autofill::first-line,
		&__item input:-webkit-autofill:hover,
		&__item input:-webkit-autofill:focus,
		&__item input:-webkit-autofill:active {
			font-size: 0.875rem;
		}
	}

	.awards {
		&__group {
			justify-content: center;
		}
		&__group-item {
			max-height: 200px;
			margin-bottom: 1rem;
			padding: 0.5rem 1rem;
			text-align: center;
		}
		&__group-item:not(:last-of-type) {
			margin-bottom: 1rem;
		}

		& .swiper-container {
			display: flex;
			flex-wrap: wrap;
			height: 530px;
			margin-right: -0.5rem;
			margin-left: -0.5rem;
		}
		& .swiper-slide {
			height: 150px;
			text-align: center;
		}
		& .swiper-slide img {
			height: 100%;
			object-fit: contain;
		}
	}

	.vendors {
		& .swiper-container  {
			height: 180px;
		}
		& .swiper-slide  {
			height: calc(100% - 2.5rem);
		}
		&__item  {
			height: calc(100% - 1rem);
			margin: 0.5rem 0.75rem 0.75rem;
			padding: 1rem;
			border-radius: 1.25rem;
		}
	}

	.request {
		padding: 1.5rem 1.5em 3rem;

		&__design.right::before {
			top: 15px;
			right: 115px;
			background-size: 45px;
		}
		&__design.right::after {
			top: 80px;
			right: 30px;
			background-size: 75px;
		}
		&__design.left::before {
			bottom: 55px;
			left: 65px;
			background-size: 40px;
		}
		&__design.left::after {
			bottom: -15px;
			left: 335px;
			background-size: 70px;
		}
		&__title {
			margin-bottom: 0.25rem;
		}
		&__subtitle {
			margin-bottom: 1.5rem;
		}
		&__form-item {
			width: 100%;
			margin-bottom: 1.25rem;
		}
		&__form-item input {
			width: 100%;
			padding: 1.25rem;
			border-radius: 1rem;
			font-size: 0.875rem;
			line-height: 1;
		}
		&__form-item input:-webkit-autofill,
		&__form-item input:-webkit-autofill::first-line,
		&__form-item input:-webkit-autofill:hover,
		&__form-item input:-webkit-autofill:focus,
		&__form-item input:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 35px $greyBg inset !important;
			font-size: 0.875rem;
		}
		&__form-note label {
			padding-left: 1.25rem;
		}
		&__form-note &__form-note-marker {
			margin-top: 0;
		}
		&__form-note label span:last-of-type {
			font-size: 0.75rem;
		}
	}

	.pre-footer {
		&--main {
			min-height: 780px;
			height: 780px;
		}
		&--inner {
			min-height: 320px;
			height: 320px;
		}
	}

	.inner-btn {
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.trademark {
		.trademark__title {
			display: none;
		}
		.trademark__desc {
			flex-direction: column;
		}
		.trademark__desc > div:first-of-type {
			order: 2;
		}
		.trademark__desc > div:last-of-type {
			order: 1;
			margin-bottom: 1.5rem;
		}
	}

	.registration {
		margin-bottom: -4rem;
		padding: 2rem 0.75rem;

		&,
		&::before,
		&::after {
			border-radius: 1rem;
		}
		&__item {
			margin-bottom: 1rem;
		}
		&__item:first-of-type {
			margin-bottom: 2rem;
		}
		&__item:last-of-type {
			margin-bottom: 0;
		}
		&__item.registration__checkbox {
			margin-bottom: 1.5rem;
		}
		&__checkbox label span:last-of-type {
			font-size: 0.75rem;
		}
	}
}
@media (min-width: 768px) {
	.intro {
		&__title {
			margin-bottom: 1.5rem;
		}
		&__service {
			border-radius: 3rem;
			box-shadow: 10px 15px 15px 0 rgba(52, 34, 34, 0.15);
		}
		&__service-link::before {
			right: -4px;
			bottom: -4px;
			left: -4px;
			height: 2px;
		}
		&__btn--short-single {
			width: 300px!important;
		}
		&__btn--short {
			width: calc((100% - 3.75rem) / 4) !important;
			max-width: 300px!important;
		}
		&__btn--short:not(:last-of-type) {
			margin-right: 1.25rem;
		}
	}
	.main--inner .intro {
		display: none;
	}

	.benefit {
		&:nth-child(-n+2)::before,
		&:nth-child(n+4):nth-child(-n+5)::before {
			background-color: $mainRed;
		}
		&:nth-child(-n+2)::before,
		&:nth-child(n+4):nth-child(-n+5)::before {
			width: 1px;
			height: calc(100% - 1rem);
		}
		&:nth-child(-n+2)::before {
			right: 0;
			bottom: 0;
		}
		&:nth-child(n+4):nth-child(-n+5)::before {
			top: 0;
			right: 0;
		}
		&::after {
			width: 36px;
			height: 36px;
		}
		&:nth-child(-n+2)::after,
		&:nth-child(n+4):nth-child(-n+5)::after {
			right: -18px;
		}
		&:nth-child(3)::after {
			left: calc(-100% - 18px);
		}
		&:nth-child(6)::after {
			left: -18px;
		}
		&:nth-child(-n+2)::after {
			top: -18px;
		}
		&:nth-child(n+4):nth-child(-n+5)::after {
			bottom: -18px;
		}
	}

	.framed {
		&::before,
		&::after {
			border-width: 2px;
		}
		&::before {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		&__container {
			margin-top: -2rem;
		}
		&__item {
			padding: 1rem;
			box-shadow: 5px 5px 25px 0 rgba(37, 37, 37, 0.2);
		}
	}
	.framed:not(.framed--main) {
		&::after {
			content: none;
		}
		& .framed__item {
			min-height: 100px;
		}
	}
	.framed--main {
		&::before {
			top: 0;
			left: 0;
			width: 55%;
			height: 72%;
		}
		&::after {
			right: 0;
			bottom: 0;
			width: 18%;
			height: 72%;
		}
		& .framed__item {
			min-height: 175px;
		}
	}

	.swiper-scroll-x {
		& .swiper-scrollbar,
		& .swiper-scrollbar-drag{
			border-radius: 7px;
		}
		&.swiper-container-horizontal>.swiper-scrollbar {
			left: 50%;
			bottom: 15px;
			height: 15px;
			width: 40%;
			transform: translateX(-50%);
		}
	}

	.partners {
		& .swiper-container  {
			height: 480px;
		}
		& .swiper-slide  {
			height: calc((100% - 6.5rem) / 2);
		}
	}

	.ask {
		&__design.right::before {
			background-size: 60px;
		}
		&__design.right::after {
			background-size: 105px;
		}
		&__design.left::before {
			background-size: 65px;
		}
		&__design.left::after {
			background-size: 95px;
		}
	}

	.ask-form {
		display: flex;

		&__item {
			width: calc((100% - 3rem) / 3);
		}
		&__item:not(:last-of-type) {
			margin-right: 1.5rem;
		}
		&__item input {
			padding: 1.5rem;
			border-radius: 1rem;
			font-size: 1.125rem;
		}
		&__item input:-webkit-autofill,
		&__item input:-webkit-autofill::first-line,
		&__item input:-webkit-autofill:hover,
		&__item input:-webkit-autofill:focus,
		&__item input:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 35px $lightGreyBg inset !important;
			font-size: 1.125rem;
		}
	}

	.awards {
		&__group {
			margin-bottom: -1rem;
		}
		&__group-item {
			margin-bottom: 1rem;
			padding: 1.5rem 2rem;
			border-radius: 1rem;
			box-shadow: 5px 5px 25px 0 rgba(37, 37, 37, 0.3);
			text-align: center;
		}
		&__group-item:not(:last-of-type) {
			margin-right: 1rem;
		}

		& .swiper-container.disabled .swiper-scrollbar {
			display: none;
		}
		& .swiper-wrapper {
			width: 100%!important;
			flex-direction: row!important;
		}
		& .swiper-slide {
			width: auto!important;
			margin: 0.5rem!important;
		}
		& .swiper-slide img {
			height: 100%;
			object-fit: contain;
		}
	}

	.vendors {
		&__item  {
			margin: 0.75rem 1rem 1rem;
			border-radius: 2rem;
		}
	}

	.request {
		&__design.right::before {
			background-size: 65px;
		}
		&__design.right::after {
			background-size: 95px;
		}
		&__design.left::before {
			background-size: 55px;
		}
		&__design.left::after {
			background-size: 105px;
		}
		&__title {
			margin-bottom: 1.5rem;
			line-height: 1;
		}
		&__subtitle {
			max-width: 700px;
			margin: 0 auto 3rem;
			line-height: 1.3;
		}
		&__form {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}
		&__form-item input {
			width: 100%;
			padding: 1.5rem;
			border-radius: 1rem;
			font-size: 1.125rem;
			line-height: 1;
		}
		&__form-item input:-webkit-autofill,
		&__form-item input:-webkit-autofill::first-line,
		&__form-item input:-webkit-autofill:hover,
		&__form-item input:-webkit-autofill:focus,
		&__form-item input:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0 35px $greyBg inset !important;
			font-size: 1.125rem;
		}
		&__form-note label {
			padding-left: 1.5rem;
		}
	}

	.pre-footer {
		&--inner {
			min-height: 415px;
			height: 415px;
		}
	}

	.inner-btn {
		max-width: 765px;
		width: 50%;
	}

	.trademark {
		.trademark__desc > div:first-of-type {
			margin-right: 3rem;
		}
		.trademark__desc > div:last-of-type {
			min-width: 28%;
			width: 28%;
		}
		.trademark__desc > div:last-of-type img {
			min-width: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	.registration {
		&,
		&::before,
		&::after {
			border-radius: 2rem;
		}
		&__item label,
		&__item .btn {
			font-size: 1.5rem;
		}
		&__item label.error {
			bottom: -1.5rem;
			font-size: 0.875rem;
		}
		&__item label,
		&__checkbox label {
			padding-left: 0.75rem;
		}
		&__item input {
			padding: 1.5rem;
			font-size: 1.25rem;
		}
		&__checkbox label span:last-of-type {
			font-size: 1rem;
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.main--inner {
		padding-top: 60px;
	}

	.intro {
		&__subtitle {
			margin-bottom: 3rem;
		}
		&__service {
			width: calc((100% - (1.5rem)) / 4);
			padding: 0.25rem 0.5rem 1.5rem;
			font-size: 1.0625rem;
		}
		&__service:not(:last-of-type) {
			margin-right: 0.5rem;
		}
		&__service-view {
			min-width: 85px;
			width: 85px;
			height: 85px;
		}
		&__btn {
			width: 300px;
		}
	}
	.intro--main {
		min-height: 900px;
		height: 900px;
	}

	.benefit {
		&::after {
			background-size: 200%;
		}
		&:nth-child(3)::after {
			bottom: -42px;
		}
		&:nth-child(6)::after {
			top: -42px;
		}
		&__item {
			min-height: 125px;
			font-size: 1.25rem;
		}
	}

	.framed {
		&::before,
		&::after {
			border-radius: 2rem;
		}
		&__item {
			border-radius: 1.5rem;
			font-size: 1rem;
		}
	}

	.ask {
		&__design.right::before {
			bottom: 0;
			right: 0;
		}
		&__design.right::after {
			top: -15px;
			right: -35px;
		}
		&__design.left::before {
			bottom: 25px;
			left: 115px;
		}
		&__design.left::after {
			top: 20px;
			left: 400px;
		}
	}

	.awards {
		& .swiper-slide {
			height: 150px;
		}
	}

	.request {
		&__form-item {
			width: 100%;
			margin-bottom: 1rem;
		}
	}

	.pre-footer {
		&--main {
			min-height: 920px;
			height: 920px;
		}
	}

	.registration {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.intro--main {
		& .intro__content {
			padding-top: 23rem;
		}
	}
	.intro--inner {
		min-height: 480px;
		height: 480px;

		& .intro__content {
			padding-top: 16.75rem;
		}
		& .intro__content--has-btn-short {
			padding-top: 13.25rem;
		}
		& .intro__title {
			min-height: 6rem;
		}
	}

	.ask {
		&__design.right::before {
			bottom: -20px;
			right: 80px;
		}
		&__design.right::after {
			top: -15px;
			right: -30px;
		}
		&__design.left::before {
			bottom: 25px;
			left: 115px;
		}
		&__design.left::after {
			top: 20px;
			left: 470px;
		}
	}

	.awards {
		&__group-item {
			min-height: 210px;
			height: 210px;
		}
	}

	.vendors {
		& .swiper-container  {
			height: 220px;
		}
		& .swiper-slide  {
			height: calc(100% - 3.375rem);
		}
		&__item  {
			height: calc(100% - 2.25rem);
			padding: 1.5rem 1rem;
		}
	}

	.request {
		width: calc(100% - 80px);
		padding: 2rem 1.5rem 3rem;

		&__design.right::before {
			top: 40px;
			right: 100px;
		}
		&__design.right::after {
			top: 125px;
			right: 25px;
		}
		&__design.left::before {
			bottom: 55px;
			left: 65px;
		}
		&__design.left::after {
			bottom: -15px;
			left: 335px;
		}
	}

	.registration {
		margin-bottom: -4rem;
		padding-right: 15%;
		padding-left: 15%;

		&__item {
			margin-bottom: 1rem;
		}
		&__item:first-of-type {
			margin-bottom: 2rem;
		}
		&__item:last-of-type {
			margin-bottom: 0;
		}
		&__item:first-of-type .btn {
			width: calc((100% - 1.5rem) / 2);
		}
		&__item:first-of-type .btn:not(:last-of-type) {
			margin-right: 1.5rem;
		}
		&__item.registration__checkbox {
			margin-bottom: 1.5rem;
		}
	}
}
@media (min-width: 992px) {
	.intro {
		&__btn {
			width: 380px;
		}
	}

	.framed {
		&::before,
		&::after {
			border-radius: 3rem;
		}
		&__item {
			border-radius: 2rem;
		}
	}

	.request {
		&__form-item {
			width: calc((100% - 2rem) / 2);
			margin-bottom: 2rem;
		}
		&__form-item:nth-child(odd) {
			margin-right: 2rem;
		}
		&__form-note {
			margin-left: 50%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.main--inner {
		padding-top: 70px;
	}

	.intro {
		&__subtitle {
			margin-bottom: 5rem;
		}
		&__service {
			padding: 0.75rem 0.5rem 1.5rem;
			font-size: 1.125rem;
		}
		&__service-view {
			min-width: 115px;
			width: 115px;
			height: 115px;
		}
	}
	.intro--main {
		min-height: 950px;
		height: 950px;
	}

	.benefit {
		&::after {
			background-size: 250%;
		}
		&:nth-child(3)::after {
			bottom: -50px;
		}
		&:nth-child(6)::after {
			top: -50px;
		}
		&__item {
			min-height: 150px;
			font-size: 1.375rem;
		}
	}

	.framed {
		&__item {
			font-size: 1.375rem;
		}
	}

	.awards {
		& .swiper-slide {
			height: 180px;
		}
	}

	.pre-footer {
		&--main {
			min-height: 810px;
			height: 810px;
		}
	}

	.registration {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}
@media (min-width: 992px) and (max-width: 1599.98px) {
	.intro {
		&__service {
			width: calc((100% - (2.25rem)) / 4);
		}
		&__service:not(:last-of-type) {
			margin-right: 0.75rem;
		}
	}
}
@media (min-width: 1200px) {
	.main--inner {
		padding-top: 95px;
	}

	.benefit {
		&::after {
			background-size: 300%;
		}
		&:nth-child(3)::after {
			bottom: -68px;
		}
		&:nth-child(6)::after {
			top: -68px;
		}
		&__item {
			min-height: 180px;
		}
	}

	.framed:not(.framed--main) {
		.framed__item {
			width: calc(100% - 1.5rem);
		}
		.framed__col:nth-child(even) .framed__item {
			margin-left: auto;
		}
	}

	.ask {
		&__design.right::before {
			bottom: -20px;
			right: 240px;
		}
		&__design.right::after {
			top: -10px;
			right: 30px;
		}
		&__design.left::before {
			bottom: 25px;
			left: 270px;
		}
		&__design.left::after {
			top: 30px;
			left: 670px;
		}
	}

	.awards {
		&__group-item {
			min-height: 260px;
			height: 260px;
		}

		& .swiper-slide {
			height: 200px;
		}
	}

	.vendors {
		& .swiper-container  {
			height: 270px;
		}
		& .swiper-slide  {
			height: calc(100% - 4.875rem);
		}
	}

	.request {
		width: calc(100% - 220px);
		padding: 3rem 2rem 5rem;

		&__design.right::before {
			top: 40px;
			right: 100px;
		}
		&__design.right::after {
			top: 125px;
			right: 25px;
		}
		&__design.left::before {
			bottom: 55px;
			left: 65px;
		}
		&__design.left::after {
			bottom: -15px;
			left: 335px;
		}
	}

	.pre-footer {
		&--main {
			min-height: 890px;
			height: 890px;
		}
	}

	.registration {
		margin-bottom: -5rem;
		padding: 6.25rem 25%;

		&__item {
			margin-bottom: 1.25rem;
		}
		&__item:first-of-type {
			margin-bottom: 2.5rem;
		}
		&__item:last-of-type {
			margin-bottom: 0;
		}
		&__item:first-of-type .btn {
			width: calc((100% - 2rem) / 2);
		}
		&__item:first-of-type .btn:not(:last-of-type) {
			margin-right: 2rem;
		}
		&__item.registration__checkbox {
			margin-bottom: 1.5rem;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1439.98px) {
	.intro {
		&__subtitle {
			margin-bottom: 6rem;
		}
	}
	.intro--main {
		min-height: 1060px;
		height: 1060px;
	}
	.intro--inner {
		min-height: 600px;
		height: 600px;
	}

	.benefit {
		&__item {
			font-size: 1.5rem;
		}
	}

	.framed {
		&__item {
			font-size: 1.5rem;
		}
	}

	.vendors {
		&__item  {
			height: calc(100% - 2.25rem);
			padding: 1.5rem 1rem;
		}
	}
}
@media (min-width: 1200px) and (max-width: 1599.98px) {
	.intro {
		&__service {
			padding: 0.75rem 0.75rem 2rem;
			font-size: 1.1875rem;
		}
		&__service-view {
			min-width: 130px;
			width: 130px;
			height: 130px;
		}
	}
	.intro--main {
		& .intro__content {
			padding-top: 25rem;
		}
	}
	.intro--inner {
		& .intro__content {
			padding-top: 21rem;
		}
		& .intro__content--has-btn-short {
			padding-top: 18rem;
		}
		& .intro__title {
			min-height: 7.75rem;
		}
	}
}
@media (min-width: 1440px) {
	.intro {
		&__title {
			margin-bottom: 2rem;
		}
	}
	.intro--inner {
		min-height: 650px;
		height: 650px;
	}

	.benefit {
		&__item {
			font-size: 1.6875rem;
		}
	}

	.framed {
		&__item {
			font-size: 1.6875rem;
		}
	}

	.vendors {
		&__item  {
			height: calc(100% - 1.75rem);
			padding: 2rem 1rem;
		}
	}
}
@media (min-width: 1440px) and (max-width: 1599.98px) {
	.intro {
		&__subtitle {
			margin-bottom: 7rem;
		}
	}
	.intro--main {
		min-height: 1150px;
		height: 1150px;
	}
}
@media (min-width: 1600px) {
	.intro {
		&__subtitle {
			margin-bottom: 8.75rem;
		}
		&__service {
			width: calc((100% - (4.5rem)) / 4);
			padding: 1rem 1rem 3rem;
			font-size: 1.6875rem;
		}
		&__service:not(:last-of-type) {
			margin-right: 1.5rem;
		}
		&__service-view {
			min-width: 170px;
			width: 170px;
			height: 170px;
		}
	}
	.intro--main {
		min-height: 1296px;
		height: 1296px;

		& .intro__content {
			padding-top: 28rem;
		}
	}
	.intro--inner {
		& .intro__content {
			padding-top: 21.25rem;
		}
		& .intro__content--has-btn-short {
			padding-top: 18.5rem;
		}
		& .intro__title {
			min-height: 9.5rem;
		}
	}

	.ask {
		&__design.left::after {
			top: 50px;
			left: 1100px;
		}
	}
}