.main {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	margin: 0 auto;
	transition: padding-top 0.3s linear 0s;
}

.intro {
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
	}
	&__content {
		padding-top: calc(100vw * 0.238);
		color: $mainTxtDark;
	}
	&__title div:last-of-type {
		color: $mainRed;
	}
	&__subtitle {
		margin-bottom: 140px;
		line-height: 1.3;
	}
	&__service {
		width: calc((100% - (4.5rem)) * 0.25);
		padding: 15px 15px 40px 15px;
		box-shadow: 10px 15px 15px 0 rgba(52, 34, 34, 0.15);
		background-color: $white;
		color: $mainTxtDark;
	}
	&__service-view img {
		min-width: 175px;
		width: 175px;
		height: 175px;
	}
	&__service-link {
		position: relative;
	}
	&__service-link::before {
		content: "";
		position: absolute;
		right: -4px;
		bottom: -5px;
		left: -4px;
		height: 2px;
		background-color: $mainRed;
	}
}
.intro--main {
	min-height: calc(100vw * 0.675);
	height: calc(100vw * 0.675);
}

@media (min-width: 768px) {
	.benefit {
		position: relative;
	}
	.benefit__item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 280px;
	}
	.benefit::before,
	.benefit::after {
		content: "";
		position: absolute;
	}
	.benefit:nth-child(-n+2)::before,
	.benefit:nth-child(n+4):nth-child(-n+5)::before {
		width: 1px;
		height: calc(100% - 1rem);
		background-color: $mainRed;
	}
	.benefit:nth-child(-n+2)::before {
		right: 0;
		bottom: 0;
	}
	.benefit:nth-child(n+4):nth-child(-n+5)::before {
		top: 0;
		right: 0;
	}
	.benefit::after {
		width: 36px;
		height: 36px;
		background-image: url("/build/img/ellipse-design.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 300%;
	}
	.benefit:nth-child(-n+2)::after,
	.benefit:nth-child(n+4):nth-child(-n+5)::after {
		right: -17px;
	}
	.benefit:nth-child(3)::after {
		bottom: -68px;
		left: calc(-100% - 17px);
	}
	.benefit:nth-child(6)::after {
		top: -68px;
		left: -17px;
	}
	.benefit:nth-child(-n+2)::after {
		top: -16px;
	}
	.benefit:nth-child(n+4):nth-child(-n+5)::after {
		bottom: -16px;
	}
}